.banner {
    h1 {
        font-size: rem-calc(48);
        line-height: 1.1;
        font-weight: 700;

        @media #{$small-only} {
            font-size: rem-calc(45);
        }

        span {
            text-transform: uppercase;
            color: $secondary-color;
            text-decoration: underline;
        }
    }

    h3 {
        font-weight: 700;
    }

    ul {
        margin-left: 0;

        li {
            &:before {
                content: "\f00c";
                font-family: FontAwesome;
                padding-right: .4em;
            }

            list-style-type: none;
            font-size: rem-calc(20);
        }
    }

    .button {
        font-size: rem-calc(20);
    }
}

#banner-form {
    select {
        font-size: rem-calc(16);
    }

    button {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}
