#banner {
    h1 {
        font-size: rem-calc(48);
        line-height: 1.1;
        text-align:center;
        @media #{$small-only} {
            font-size: rem-calc(45);
        }
    }
    img {
        display:block;
        margin:0 auto rem-calc(20);
        padding-right:rem-calc(35);
    }

    .button {
        font-size: rem-calc(24);
        padding: rem-calc(9) 0;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        margin: 0 auto rem-calc(20);
        @media #{$medium-up} {
            width:35%;
        }
    }
    p {
        text-align:center;
        font-size:rem-calc(20);
    }
}

#banner-form {
    select {
        font-size: rem-calc(16);
    }

    button {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}
