.buy {
    border: $buytable-border solid rem-calc(3);
    border-radius: rem-calc(7);
    margin: 0 0 rem-calc(20);

    .row {
        padding: rem-calc(5) rem-calc(10);
    }

    &:last-child {
        margin-right: 0;
    }

    .products {
        background: transparent;
        width: 100%;
        max-height: rem-calc(246);

        // padding: rem-calc(15) rem-calc(5);
        display: inline-block;
        text-align: center;
    }

    .priceWrap {
        font-size: rem-calc(12);
        border-top: rem-calc(1) solid $buytable-border;
        border-bottom: rem-calc(1) solid $buytable-border;
        font-weight: 700;

        .columns {
            padding: 0;
        }

        .columns.savings {
            text-align: right;
            color: $secondary-color;
        }
    }

    .price, .bottle {
        background: #F0F0F0;
        text-align: center;
    }

    .price {
        font-size: rem-calc(66);
        font-weight: 900;
        line-height: 1;

        sup {
            font-size: 50%;
        }
    }

    .bottle {
        border-top: rem-calc(1) solid $buytable-border;
        border-bottom: rem-calc(1) solid $buytable-border;
    }

    .bonusWrap {
        min-height: rem-calc(62);

        .buy-bonus {
            padding-left: rem-calc(35);
            font-size: rem-calc(14);

            &:before {
                content: "\f058";
                font-family: FontAwesome;
            }
        }
    }

    button {
        &.addtoCart {
            display: block;
            margin: rem-calc(8) auto;
            font-size: rem-calc(24);
            font-weight: $font-weight-bold;
            width: 90%;
            text-transform: uppercase;
            padding: rem-calc(8r) 0;

            @media #{$small-only} {
                width: 100%;
            }
        }
    }
}

.buy-head {
    text-transform: uppercase;
    font-size: rem-calc(24);
    color: $white;
    background: $secondary-color;
    font-weight: 700;
    text-align: center;
    border-top-right-radius: rem-calc(3);
    border-top-left-radius: rem-calc(3);
}

.buy-head {
    &.mostPopular {
        background: $primary-color;
    }
}

p {
    &.q {
        font-weight: 700;
        margin-bottom: rem-calc(10);
    }
}

.emailTrigger {
    cursor: pointer;
}

.payment {
    color: #555;
    text-align: center;

    .fa {
        font-size: rem-calc(30);
    }
}

// .row.cards {
//     margin-top: rem-calc(30);
//     margin-bottom: rem-calc(30);

//     .columns + .columns {
//         img {
//             float: right;
//         }
//     }
// }
